<footer role="contentinfo" class="c-footer">
  <div class="u-container c-footer__container">
    <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
    <p>
      <a href="{{ "/about/" | prepend: site.baseurl }}">About me</a>
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}">My Twitter</a>{% endif %}
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}">My Github Profile</a>{% endif %}
      <a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Falmerosteyn.github.io%2Ffeed.xml'  target='_blank'>Follow in Feedly</a>
      {% if site.dribbbleUsername %}<a href="https://dribbble.com/{{ site.dribbbleUsername }}">Dribbble</a>{% endif %}
      {% if site.codepenUsername %}<a href="http://codepen.io/{{ site.codepenUsername }}">CodePen</a>{% endif %}
    </p>
  </div>
</footer>
