/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
  max-width: 116rem; // 1160px
  margin-right: auto;
  margin-left: auto;
}

.author-photo {
  margin: 0 auto;
  display: block;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  background-size: 280px;
  background-position: right;
}

.alert {
  color: #a94442!important;
  background-color: #f2dede;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.info {
  color: white!important;
  background-color: #0E4F16;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}